<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title},~{::script})}" xmlns:th="http://www.thymeleaf.ord">
<head>
  <meta charset="UTF-8">
  <title>About Page</title>
  <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.css" rel="stylesheet" />
</head>
<body>
<div id="content">
  <H1>Welcome to about Page!!!!</H1>
</div>
<script>
  console.log("about page")
</script>
<script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
</body>
</html>